.App {
  height: 800px;
  width: 500px;
}

.colors-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-color: grey;
  border: 2px solid lime;
}

.palette-color {
  height: 15%;
  width: 80%;
  margin: auto;
  background-color: white;
}