.App {
  height: 800px;
  width: 500px;
}

.colors-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
}

.palette-color {
  height: 15%;
  width: 80%;
  margin: auto;
  display: flex;
  align-content: space-between
}

button {
  border: none;
  text-decoration: none;
  background: transparent;
  display: flex;
  flex-direction: column
}