.my-projects-title {
  font-family: $font-title;
  font-size: 40px;
  padding: 20px;
  margin: 10px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}

.projects-to-display {
  border: none;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 2px 1px 1px #dcdcdc;
}

.individual-projects {
  display: flex;
  border-radius: 10px;
  margin: 15px;
  min-height: 200px;
}

.project-palettes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 125px;
  height: 130px;
  background-color: white;
  box-shadow: 6px 5px 5px #dcdcdc;
}

.palette-header {
  display: flex;
}

h5 {
  flex: 1;
  padding: 0px 10px;
  min-height: 40px;
}

.palette-header button {
  flex: 1;
  flex-direction: row-reverse;
}

.delete-palette-button,
.delete-project-button {
  width: 20px;
  height: 20px;
}

.palette-button {
  margin: 15px;
}

.palette-colors {
  display: flex;
}

.small-palette {
  height: 40px;
  width: 50px;
}

.user-message {
  color: black;
  font-size: 14px;
  font-family: $font-main;
}

.message-container {
  height: 25px;
  text-align: center;
}

.project-title {
  width: 50px;
  margin: 15px;
}

.drop-down {
  margin-left: 15px;
  height: 40px;
  width: 300px;
  background-color: #dcdcdc;
  border: none;
}

.project-button,
.palette-button {
  background-color: #4B4774;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 6px 5px 5px #dcdcdc;
  &:hover {
    background-color: #745FA5;
    cursor: pointer;
  }
  &:disabled {
    background-color: #dcdcdc;
    box-shadow:none;
  }
}