.my-projects-title {
  font-family: $font-title;
  font-size: 40px;
  padding: 20px;
}
.projects-to-display {
  border: none;
  background-color: whitesmoke;
  border-radius: 25px;
}

.individual-projects {
  display: flex;
  border-radius: 10px;
  margin: 15px;
  min-height: 200px;
}

.project-palettes {
  margin: 10px;
  width: 125px;
  height: 100px;
  background-color: white;
}

.palette-header {
  display: flex;
}

h5 {
  flex: 1;
  padding: 0px 10px;
  min-height: 40px;
}

.palette-header button {
  flex: 1;
  flex-direction: row-reverse;
}

.delete-palette-button,
.delete-project-button {
  width: 20px;
  height: 20px;
}

.palette-colors {
  display: flex;
  box-shadow: 10px 5px 5px black;
}

.small-palette {
  height: 40px;
  width: 50px;
}

.user-message {
  color: black;
  font-size: 14px;
  font-family: $font-main;
}

.message-container {
  height: 25px;
}

.project-title {
  width: 50px;
  margin: 15px;
}