.palette-color {
  height: 100px;
  margin: 0;
  align-content: space-between;
}

button {
  border: none;
  text-decoration: none;
  background: transparent;
  display: flex;
  flex-direction: column
}

.indiv-color-text {
  font-family: $font-title;
  font-weight: bolder;
}

