.palette-color {
  display: flex;
  height: 185px;
  margin: 0;
  justify-content: space-between;
}

button {
  border: none;
  text-decoration: none;
  background: transparent;
  display: flex;
  flex-direction: column
}

.indiv-color-text {
  font-family: $font-title;
  font-weight: bolder;
}

.star-icon {
  align-self: flex-end;
}

.indiv-color-text,
.star-icon {
  padding: 20px;
}

.save-to-existing,
.new-project-name {
  font-family: "Rosario", sans-serif;
  padding-left: 20px;
  font-size: 18px;
}

