.App {
  height: 100%;
  width: 100%;
  display: flex;
  // border: 2px solid orange;
}

.header-project-wrapper {
  // border: 2px solid blue;
  flex: 1;
}

.app-header {
  // height: 30%;
  // border: 2px solid black;
}

h1 {
  margin: 30px;
  font-size: 50px;
  font-family: $font-title;
}

.projects-wrapper {
  // background-color: purple;
  border: 2px solid green;
}

.palette-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid hotpink;
  // background-color: yellow
}

input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  height: 25px;
  width: 200px
}

button {
  border: none;
  text-decoration: none;
  background: transparent;
  font-size: 18px;
  font-family: $font-main;
}