.App {
  height: 100%;
  width: 100%;
  display: flex;
}

.header-project-wrapper {
  flex: 1;
}

.main-title {
  margin: 30px 15px;
  font-size: 50px;
  font-family: $font-title;
}

.palette-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  height: 25px;
  width: 200px
}

button {
  border: none;
  text-decoration: none;
  background: transparent;
  font-size: 18px;
  font-family: $font-main;
}

.project-button {
  font-family: $font-main;
  padding: 20px;
}

input[type=text] {
  border: 3px solid #CCCCCC;
}

input[type=text]:focus {
  border: 3px solid #555;
}