.generate-palette-text {
  display: flex;
  align-items: center;
  font-family: $font-main;
  font-size: 1.5em;
  justify-content: space-between;
  padding: 0px 5px;
}

.generate-button {
  width: 75px;
  height: 75px;
}

.colors-wrapper{
  display: flex;
  flex-direction: column;
}