@import url('https://fonts.googleapis.com/css?family=Poiret+One|Rosario:400,700');

@import './variables.scss';
@import './containers/App/App.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}